/* GLOBAL ELEMENT STYLING */
/* ====================== */
* { 
    -moz-box-sizing: border-box; 
    -webkit-box-sizing: border-box; 
     box-sizing: border-box; 
}

body {
    position: absolute;
    background: black;
    min-height: 100vh;
    width: 100%;
    overflow: scroll;
    margin: 0 !important;
    overflow-x: hidden;
}

h1 {
    font-size: 3rem;
}

p, span {
    font-size: 1.5rem;
    display: inline;
}

footer {
    display: flex;
    justify-content: space-between;
    position: absolute;
    bottom: 0;
    width: 100%;
    padding: 12px;
}

/* FONT STYLING */
/* ============ */
.font-header {
    font-family: 'Roboto', sans-serif;
}

.font-normal {
    font-family: 'Quicksand', sans-serif;
}

/* GLOBAL BOX STYLING */
/* ================== */

.container {
    width: 85%;
    margin: 0 auto;
    z-index: 1;
    
}

.testdiv {
    width: 60%;
    margin: 0 auto;
    box-shadow: white 1px 1px 1px 1px;
    margin-bottom: 12vh;
}

/* SIDE NAV STYLING */
/* ================ */

.side-nav {
    background: transparent;
    position: absolute;
    height: 4rem;
    width: 100vw;
    top:0;
    z-index: 100;
}

.side-nav ul {
    list-style: none;
}

.side-nav ul li {
    display: inline;
}

.menu-btn {
    display: none;
}

.nav-link a {
    color: black;
    text-decoration: none;
}

.nav-link button {
    height: 2rem;
    background: darkgray;
    color: white;
}

.nav-link button:hover {
    background: black;
}

.side-nav-mask {
    height: 100vh;
    width: 100vw;
    position: fixed;
    top: 0;
    right: -100vw;
    transition: right .3s ease-in-out;
    background: rgba(46, 46, 46, 0.5);
}

.menu-close {
    position: absolute;
    top: 10px;
    right: 10px;
}

/* CONTACT FORM STYLING */
/* ==================== */
.contact-me {
    /* margin-bottom: 10rem; */
    width: 70%;
    margin: 0 auto 10rem auto;
}

.contact-me input, .contact-me textarea {
    border: none;
    /* background: transparent; */
    color: black;
    width: 100%;
    /* border-bottom: 3px solid black; */
    margin-top: .5rem;
    font-size: 1.4rem;
    font-family: 'Quicksand', sans-serif;
    background: rgb(252, 251, 234);
    box-shadow: inset 3px 3px 3rem lightgray;
}
/* 
.contact-me input::after, .contact-me textarea::after {
    content:'';
    position: absolute;
    bottom:.3rem;
    width: 40%;
    margin-right:15px;
    transform:rotate(30deg);
    display:none;
    box-shadow:1px 1px 3rem rgba(46, 46, 46, 0.5)
} */

.contact-me label {
    font-family: 'Roboto', sans-serif;
    font-size: 1.8rem;
}

.form-user-info {
    width: 40%;
    justify-self: flex-start;
    display: column;
    flex-direction: row;
    justify-content: space-around;
}
.form-user-info input {
    height: 2.5rem;
}

.form-submit input {
    font-family: 'Roboto', sans-serif;
    border: 3px solid black;
    border-radius: 12px;
    font-size: 24px;
    padding: 5px;
    background: darkgray;
    color: black;
    width:40%;
    margin: 0 auto;
}

.form-submit input:hover {
    background: black;
    color: white;
}

/* MASK STYLING FOR SPOTLIGHT EFFECT */
/* ================================= */

.topsecret-mask {
    min-height: 100vh;
    min-width: 100vw;
    background: lightgray;
    padding-top: 2rem;
    padding-bottom: 12vh;
}

@media (max-width: 1000px) {
    .side-nav {
        background: white;
        position: fixed;
        height: 100%;
        width: 20vw;
        left: -20vw;
        top:0;
        transition: left .3s ease-in;
        overflow-y: auto;
    }
    
    .side-nav ul {
        list-style: none;
    }

    .menu-btn {
        display: block;
    }
    
    .menu-open {
        position: fixed;
        left: 40px;
        top: 10px;
        z-index: 10;
    }
    
    .nav-link a {
        color: black;
        text-decoration: none;
    }
    
    .nav-link button {
        width: 80%;
        height: 2rem;
        background: darkgray;
        color: white;
        margin: 1rem auto;
    
    }
    
    .nav-link button:hover {
        background: black;
    }
    
    .side-nav-mask {
        height: 100vh;
        width: 100vw;
        position: fixed;
        top: 0;
        right: -100vw;
        transition: right .3s ease-in-out;
        background: rgba(46, 46, 46, 0.5);
    }
    
}


/* PORTFOLIO STYLING */
/* ================= */
.card-wrapper, .wip-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
}

.port-card {
    position: relative;
    width: 20%;
    margin-bottom: 1rem;
    height: auto;
}

.port-card-img {
    max-width: 100%;
    clip-path: ellipse(300px 120px at 25% 22%);
    transition: .3s;
}

.port-card-img:hover {
    transition: .3s;
    clip-path: none;
}

.card-title {
    position: absolute;
    top: 80px;
    right: -10px;
    background: blue;
    padding: 20px;
    border-radius: 50%;
    transform: rotate(-30deg);
    color: white;
    font-family: 'Roboto', sans-serif;
    font-size: 24px;
    z-index: 10;
}

.card-desc-wrapper {
    display: flex;
    position: absolute;
    top: 175px;
    color: white;
    border-radius: 15px;
    padding: 5px;
    width: 100%;
    height: 200px;
    overflow-y: scroll;
}