:root {
    --mouse-X: center;
    --mouse-Y: center;
    --clip-position: center;
    --clip-size: 300px;
}

body {
    height: 100vh;
    width: 100vw;
    /* background: rgba(20, 20, 20); */
    background-color: black;
    z-index: 1;
}

#body-mask, #flashlight {
    display: none;
}



@supports (-webkit-clip-path: circle(calc(var(--clip-size) / 2) at center)) or (clip-path: circle(calc(var(--clip-size) / 2) at center)) {
    #body-mask {
        display: block;
        background: rgb(200, 200, 200);
        /* background: transparent; */
        position: fixed;
        height: 100vh;
        width: 100vw;
        -webkit-clip-path: circle(calc(var(--clip-size) / 2) at var(--clip-position));
        clip-path: circle(calc(var(--clip-size) / 2) at var(--clip-position));
        z-index: 2;
        
    }
    #flashlight {
        cursor:none;
        display:block;
        height: 300px;
        width: 300px;
        background: rgb(200, 200, 200);
        border-radius: 50%;
        /* background:transparent; */
        background: radial-gradient(circle farthest-corner at center center, rgba(255, 255, 200, 0.6), rgba(20, 20, 20, 0.9)) no-repeat;
        box-shadow: inset black 0px 0px 25px 25px;
        /* border: 1rem solid black; */
        position: fixed;
        top: var(--mouse-Y);
        left: var(--mouse-X);
        z-index: 3;
    }
}
